/* Universal */
body {
    margin: 0%;
    background-color: #3C0200;
}

nav {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #A00000;
    font-weight: bold;
    font-size: larger;
}

p {
    font-size: larger;
}

.logo {

    height: 12vh;

}

.nav-link:link {
    color: #ffffff;
    text-decoration: none;
}

.nav-link:visited {
    color: #ffffff;
    text-decoration: none;
}

.nav-link:hover {

    opacity: 0.8;

}

.title {

    text-align: center;
    text-shadow: rgb(255, 0, 0) 1px 0 10px;
    color: #ffffff;

}

/* index.html */

.top-image {

    width: 100%;
    height: 30vh;

}

.container {

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    
    /* Reference: https://stackoverflow.com/questions/5135019/css-opacity-only-to-background-color-not-the-text-on-it */
    background-color: rgba(160, 0, 0, 0.5);
    color: #ffffff;

}

.game-about {
    padding: 0%;
    text-align: center;
}

.red {

    color:rgb(255, 0, 0);

}

.game-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: center;
}

.container-2 {

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    color: #ffffff;

}

.head-home {

    height: 25vh;
    
}

.game-info {

    margin-top: 2%;
    margin-bottom: 2%;
    color: #e1e1e1; 
}

#info-table td {
    border: 1px solid #ffffff;
    padding: 8px;
}

#info-table {
    margin:auto;
    border-collapse: collapse;
}

.bold {

    color: #ffffff;
    font-weight: bold;

}

.info {

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;

    text-align: center;

    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 1%;
}

.game-char {

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 25px;
    align-items: center;

}

/* Button */
/* Reference: https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate1 */
.button {
    display: inline-block;
    border: 1px solid #ffffff;
    background-color: #ffffff00;
    color: #FFFFFF;
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

/* characters.html */

.char-head {

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    height: 20vh;
    margin-top: 5px;

}

.head-shot {
    height: 18vh;
    opacity: 0.5;
}

/* Starting highlighted image */
#natasha {

    opacity: 1;

}

/* Character info section */
.info-bg {

    display: flex;
    justify-content: center;
    position: relative;

    height: 100vh;

}

#file {

    height: 120vh;
    position: absolute;
    z-index: -1;

}

.char-info {

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;

    height: 120vh;
    width: 70vw;

    z-index: 1;

}

#fullbody {

    height: 70vh;
    box-shadow: 3px 3px rgba(101, 101, 101, 0.5);

}

#text {

    display: inline-block;
    overflow-wrap: break-word;
    width: 40%;
    height: 70vh;
    background-color: rgb(255, 255, 255, 0.5);
    padding: 10px;

}

.char-body {

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-left: 5%;
    margin-right: 5%;

}

.arrow {
    
    height: 100px;

}

.arrow:hover {

    opacity: 0.8;

}
